
<div class="container-fluid">
        <div class="table-responsive-sm">
            <div class="table-title">
                <div class="row">
                    <div class="col col-sm-6">
                        <h1>Socios</h1>
                    </div>
                    <div class="col col-sm-6">
                        <a href="#addSocioModal" class="btn btn-danger float-right" data-toggle="modal">
                            <i class="fas fa-plus mr-2"></i>
                            <span>Añadir Socio</span>
                        </a>
                    </div>
                </div>
            </div>
        <br>

        <ng-container *ngIf="( appState$ | async ) as appState" [ngSwitch]="appState.dataState">
            <ng-container *ngSwitchCase="DataState.LOADING_STATE">
                <div class="col-md-12 single-note-item text-center">
                    <div class="spinner-border text-danger" role="status"></div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="DataState.LOADED_STATE">
                <table class="table table-hover" id="socios">
                    <thead class="bg-danger">
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Cedula</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Dirección</th>
                            <th class="text-center">Telefono</th>
                            <th class="text-center">Correo</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let socio of appState.appData?.data.socios; let i = index">
                        <tr>
                            <td class="text-center">{{socio.id}}</td>
                            <td class="text-center">{{socio.cedula}}</td>
                            <td class="text-center">{{socio.nombre}}</td>
                            <td class="text-center">{{socio.direccion}}</td>
                            <td class="text-center">{{socio.telefono}}</td>
                            <td class="text-center">{{socio.correo}}</td>
                            <td class="text-center">
                                <a class="btn btn-success m-1"><i class="fas fa-pen"></i></a>
                                <a class="btn btn-warning m-1"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-container *ngSwitchCase="DataState.ERROR_STATE">
                <div class="alert alert-danger">
                    {{ appState.error }}
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>

<div id="addSocioModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="SocioForm"
                (ngSubmit)="saveSocio()"
                autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">Añadir Socio <i class="fas fa-users"></i></h4>
                    <button type="button" class="close" data-dismiss="modal" id="closeModal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cedula">Cédula</label>
                        <input type="text" name="cedula" formControlName="cedula" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" formControlName="nombre" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" name="direccion" formControlName="direccion" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Telefono</label>
                        <input type="text" name="telefono" formControlName="telefono" class="form-control" required>
                    </div>
                    <div class="form-group mb-4">
                        <label for="correo">Correo</label>
                        <input type="text" name="correo" formControlName="correo" class="form-control" required>
                    </div>
                    <div class="form-group float-right">
                        <button class="btn btn-danger mr-3" type="submit" [disabled]="SocioForm.invalid || (isLoading$ | async)">
                            <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
                            <span *ngIf="isLoading$ | async">Guardando...</span>
                            <span *ngIf="!(isLoading$ | async)">Guardar</span>
                        </button>
                        <a class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
