<div class="container-fluid  p-4 animate__animated animate__fadeInDown">
    <div class="table-responsive-sm">
        <div class="table-title">
            <div class="row">
                <div class="col col-sm-6">
                    <h1>Alquileres <i class="fas fa-users"></i></h1>
                </div>
                <div class="col col-sm-6">
                    <a href="#addAlquilerModal" class="btn btn-danger btn-sm float-right" data-toggle="modal"
                        (click)="setShowGuardar()">
                        <i class="fas fa-plus mr-2"></i>
                        <span>Añadir Alquiler</span>
                    </a>
                </div>
            </div>
        </div>
        <br>

        <ng-container *ngIf="( appState$ | async ) as appState" [ngSwitch]="appState.dataState">
            <ng-container *ngSwitchCase="DataState.LOADING_STATE">
                <div class="col-md-12 single-note-item text-center">
                    <div class="spinner-border text-danger" role="status"></div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="DataState.LOADED_STATE">

                <table class="table table-hover" id="socios">
                    <thead class="bg-danger">
                        <tr class="text-center">
                            <th scope="col">Id</th>
                            <th scope="col">Socio</th>
                            <th scope="col">Pelicula</th>
                            <th scope="col">Desde</th>
                            <th scope="col">Hasta</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Fecha Entrega</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody
                        *ngFor="let alquiler of $any(appState.appData?.data.alquileres | slice:desde:hasta) ; let i = index"
                        class="bg-light">
                        <tr class="text-center">
                            <td scope="row">{{alquiler.id}}</td>
                            <td scope="row">{{alquiler.socio.nombre}}</td>
                            <td scope="row">{{alquiler.peliculaAlq.pel_nombre }}</td>
                            <td scope="row">{{alquiler.alq_fecha_desde | date}}</td>
                            <td scope="row">{{alquiler.alq_fecha_hasta | date}}</td>
                            <td scope="row">{{alquiler.alq_valor}}</td>
                            <td scope="row">{{alquiler.alq_fecha_entrega | date}}</td>
                            <td scope="row">
                                <a class="text-success mr-4" role="button" href="#addAlquilerModal" data-toggle="modal"
                                    (click)="getData(alquiler)"><i class="fas fa-pen"></i></a>
                                <a class="text-secondary h6 ml-1" role="button"><i class="fas fa-times"
                                        (click)="deleteAlquiler(alquiler)"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <mat-paginator class="paginator" [length]="appState.appData?.data.alquileres.length" [pageSize]="pageSize"
                    (page)="cambiarPagina($event)" aria-label="Select page">
                </mat-paginator>
            </ng-container>
            <ng-container *ngSwitchCase="DataState.ERROR_STATE">
                <div class="alert alert-danger">
                    {{ appState.error }}
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>

<div id="addAlquilerModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="AlquilerForm" (ngSubmit)="saveAlquiler()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">Añadir Alquiler <i class="fas fa-users"></i></h4>
                    <button type="button" class="close" data-dismiss="modal" id="closeModal"
                        aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="soc_id">Socio</label>
                        <select formControlName="soc_id" class="form-select" [ngModel]="null">
                            <option [ngValue]="null" disabled>Seleccione el Socio</option>
                            <option *ngFor="let socio of socios ; let i = index" value={{socio.id}}>{{socio.nombre}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="pel_id">Pelicula</label>
                        <select formControlName="pel_id" class="form-select" [ngModel]="null">
                            <option [ngValue]="null" disabled>Seleccione la Pelicula</option>
                            <option *ngFor="let pelicula of peliculas ; let i = index" value={{pelicula.id}}>{{pelicula.pel_nombre}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="alq_fecha_desde">Fecha Desde</label>
                        <input type="date" [ngModel]="fechaDesde | date:'yyyy-MM-dd'" name="alq_fecha_desde" formControlName="alq_fecha_desde" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="alq_fecha_hasta">Fecha Hasta</label>
                        <input type="date" [ngModel]="fechaHasta | date:'yyyy-MM-dd'" name="alq_fecha_hasta" formControlName="alq_fecha_hasta" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="alq_valor">Costo</label>
                        <input type="number" name="alq_valor" placeholder="Costo" formControlName="alq_valor" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="alq_fecha_entrega">Fecha Entrega</label>
                        <input type="date" [ngModel]="fechaEntrega | date:'yyyy-MM-dd'" name="alq_fecha_entrega" formControlName="alq_fecha_entrega" class="form-control" required>
                    </div>

                    <div class="form-group float-right">
                        <button *ngIf="showGuardar" class="btn btn-danger mr-3" type="submit"
                            [disabled]="AlquilerForm.invalid || (isLoading$ | async)">
                            <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
                            <span *ngIf="isLoading$ | async">Guardando...</span>
                            <span *ngIf="!(isLoading$ | async)">Guardar</span>
                        </button>
                        <button *ngIf="showEditar" class="btn btn-danger mr-3" type="submit"
                            [disabled]="AlquilerForm.invalid || (isLoading$ | async)">
                            <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
                            <span *ngIf="izsLoading$ | async">Editando...</span>
                            <span *ngIf="!(isLoading$ | async)">Editar</span>
                        </button>
                        <a class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>